
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        Tòa nhà cao nhất Việt Nam The Sky Land&nbsp; 90 của Công ty cổ phần công nghệ Sapo chính thức cho khách hàng đặt giữ chỗ chọn mua đợt đầu vào ngày Event 1/7/2016. Sự kiện diễn ra lúc 18h tại nhà mẫu Sapohomes Central Park, số 208 đường Nguyễn Chí Thanh, TP Hà Nội .– Đợt đầu đặt chỗ tầng 36 và 37 chỉ dành cho người nước ngoài. Các tầng còn lại tất cả các khách hàng chọn căn đặt cọc từ ngày 19/7/2016.<br><br>MỞ BÁN:<br><br>+ Ngày công bố giá bán và cho khách đặt cọc từ: 19/7/2016<br><br>+ Ngày tổ chức event mở bán: 25/7/2016<br><br>– Tòa nhà The Sky Land&nbsp; 90 tầng sở hữu những căn hộ đẳng cấp bậc nhất Việt Nam. Được nhiều các nhà đầu tư trong và ngoài nước đặc biệt quan tâm. Khi mở bán kỳ vọng sẽ trở thành hiện tượng của thị trường bất động sản trong nhiều năm trở lại đây.<br><br>1. Tổng quan:<br><br>– Tổng chiều cao thiết kế: 512 m<br><br>– Số tầng: 90 tầng nổi và 4 tầng hầm<br><br>– Tổng diện tích sàn (không gồm hầm): 198.200 m2<br><br>2. Diện tích căn hộ Tòa SkyLand 90:<br><br>– Thiết kế từ: 1-2-3-4 phòng ngủ và Sky villa<br><br>– Loại 1 phòng ngủ: 54-55-66 m2<br><br>– Loại 2 phòng ngủ: 78-87-90-94 m2<br><br>– Loại 3 phòng ngủ: 106-109-133-145 m2<br><br>– Loại 4 phòng ngủ: 144-171-172-173-186-192-249-258-269-407-420-431 m2<br><br>3. Loại hình phát triển The Sky Land&nbsp; 90:<br><br>– Trung tâm thương mại, rạp chiếu phim, sân trượt băng trong nhà, gym (tầng B1,1, 2, 3)<br><br>– Khu club house dành cho cư dân gồm hệ thống hồ bơi, gym, spa, bar và lounge ngoài trời (tầng 4).<br><br>– Sảnh lounge tiêu chuẩn 5 sao và nhà sinh hoạt cộng đồng dành cho cư dân, nhà hàng cao cấp (tầng 5).<br><br>– Khu căn hộ hiện đại (tầng 6 – 40) với căn hộ 1 – 4 phòng ngủ, sky villa.<br><br>– Khách sạn SapoPearl 5 sao (tầng 42 – 76).<br><br>– Đài quan sát (tầng 79 – 90).<br><br>4. Thông tin kỹ thuật:<br><br>Số lượng căn hộ/sàn: 10 – 20 căn.<br><br>Số lượng thang máy: 26 thang máy.<br><br>Số lượng thang thoát hiểm: 2 thang.<br><br>Chiều rộng hành lang: 1,8m.<br><br>Tầng hầm để xe (tầng B2, B3).<br><br>Thông tin khác:<br><br>– Đơn vị thiết kế: Tập đoàn Atkins (Anh Quốc)<br><br>– Năm khởi công: 2016<br><br>– Năm hoàn thành: Dự kiến 2019
        <div style="clear: both;"></div>
    </div>
</div>
