
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="@Url.Content("~/Content/css/contact.css")" />
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="contact__title">Công ty cổ phần chung cư Apartment</span>
            <p class="contact__desc">Được thành lập vào ngày 20/08/2008 với niềm đam mê và khát vọng thành công trong lĩnh vực chung cư. Nhờ chiến lược rõ ràng và hướng đi đúng, Apartment đã nhanh chóng phát triển và đạt được những thành công nhất định. </p>
            <div class="contact__info">
                <div class="contact__info-item">
                    <i class='bx bx-map-pin contact__info-icon'></i>
                    <span>Địa chỉ: Tầng 8 Ladeco, 266 Đội Cấn, Hà Nội, Vietnam</span>
                </div>
                <div class="contact__info-item">
                    <i class='bx bx-phone contact__info-icon'></i>
                    <span>Hotline: 1900 6750 </span>
                </div>
                <div class="contact__info-item">
                    <i class='bx bx-envelope contact__info-icon'></i>
                    <span>Email: support@sapo.vn</span>
                </div>
            </div>

            <div class="contact__socials">
                <a href="#">
                    <i class='bx bxl-facebook contact__social-item'></i>
                </a>
                <a href="#">
                    <i class='bx bxl-instagram contact__social-item'></i>
                </a>
                <a href="#">
                    <i class='bx bxl-youtube contact__social-item'></i>
                </a>
                <a href="#">
                    <i class='bx bxl-linkedin-square contact__social-item'></i>
                </a>
            </div>
        </div>

        <div class="col-6">
            <span class="contact__title">Gửi liên hệ cho chúng tôi</span>
            <div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Họ và tên">
                    </div>

                    <div class="mb-3 col-6">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                    </div>
                </div>

                <div class="mb-3">
                    <input class="form-control" id="exampleFormControlInput1" placeholder="Số điện thoại">
                </div>

                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ghi chú"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>